.landing-block {
    background-image: url("../../assets/interior-armchair.jpg");
    height: 40rem;
    display: flex;
    background-position-x: -20rem;
    background-position-y: 122rem;
  }
  
  .landing-links {
    width: auto;
    height: fit-content;
    position: relative;
    left: 42rem;
    top: 17rem;
    text-align: start;
  }

  button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 10px 10px;
    border: solid 0.5px;
    box-shadow: lightgray 3px 3px 7px;
    outline: none;
    font-weight: 500;
    font-size: 0.9rem;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: var(--color-subtitle-banner) 0 0 5px;
    }
  }

  h2 {
    color: var(--color-title-banner);
    font-size: var(--size-title-banner);
    margin-bottom: 10px;
  }

  h3 {
    color: var(--color-subtitle-banner);
    font-size: var(--size-subtitle-banner);
    margin-top: 0px;
    margin-bottom: 25px;
  }