/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    //color palette 

    --color-title-banner: #424B54;
    --color-subtitle-banner: #645244;
    --color-yellow-banner: #F2CD60;

    --color-black-footer: #373F47;
    --color-grey-footer: #99A1A6;
    --color-white-footer: #F7F7F9;

    --size-title-banner: 1.5rem;
    --size-subtitle-banner: 2.5rem;

    --size-title-container: 2rem;
    --size-title-article: 2rem;

  }

a, button, fa-icon {
    cursor: pointer;
}

a {
    text-decoration: none;
}
