/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    //color palette 

    --color-title-banner: #323334;
    --color-subtitle-banner: #A86A3D;
    --color-yellow-banner: #F2CD60;

    --color-black-footer: #323334;
    --color-grey-footer: #727374;
    --color-white-footer: #FFFFFF;

    --size-title-banner: 1.5rem;
    --size-subtitle-banner: 2.5rem;

    --size-title-container: 2rem;
    --size-title-article: 2rem;

    --fontsize-mobile: 0.9rem;
    --fontsize-landscape: 1.2rem;
    --fontsize-laptop: 1.5rem;

  }


a, button, fa-icon {
    cursor: pointer;
}

a {
    text-decoration: none;
}
