header {
    text-align: center;
    padding-top: 1.5rem;
}

h1 {
  font-size: 1.8rem;
}

.container-logo-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem 1rem 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

a {
  margin: 0 10px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    text-decoration: underline 3px;
    text-decoration-color: #333;
    transition: 2s;
  }
}

.active {
  color: #666;
  //text-decoration: underline;
}

hr {
  margin: 0 6rem;
}

@media only screen and (min-width : 768px) {
  a {
    font-size: var(--fontsize-landscape);
  }
  }

  @media only screen and (min-width : 1024px) {
    a {
      font-size: var(--fontsize-landscape);
    }
    }