header {
    text-align: center;
    padding-top: 1rem;
}

.container-logo-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem 1rem 4rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

a {
  margin: 0 10px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    text-decoration: underline 3px;
    text-decoration-color: #333;
    transition: 2s;
  }
}

.active {
  color: #666;
  //text-decoration: underline;
}

hr {
  margin: 0 6rem;
}