<header>
    <div class="container-logo-icons">
        <h1 class="logo-title"> MOODY STUDIO </h1>
        <app-header-icons></app-header-icons>
    </div>
    <hr>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
        <a routerLink="facesnaps" routerLinkActive="active">STORE</a>
        <a routerLink="facesnaps" routerLinkActive="active">BRANDS</a>
        <a routerLink="facesnaps" routerLinkActive="active">FACESNAPS</a>
    </nav>
    <hr>
</header>
