footer {
    background-color: var(--color-black-footer);
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    
}

.container-footer {
    color: var(--color-white-footer);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    padding: 2rem;
}

